{% load compress static quote_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quotewall</title>
    {% compress css %}
        <link type="text/x-scss" href="{% static 'main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
{#    <script src="https://npmcdn.com/smoothscroll@0.4.0/smoothscroll.js" type="text/javascript"></script>#}
</head>
<body>
<div class="loop-container">
    {% for quote in quotes %}
        <div class="quote-container" id="quote{{ forloop.counter }}">
            <a href="#quote{{ forloop|previous:quotes}}" class="controls" id="previous"></a>
            <a href="#quote{{ forloop|next }}" class="controls" id="next"></a>
            <div id="quote">
                <p id="mark">&#8223;</p>
                <p>{{ quote.text }}</p>
                <cite>- {{ quote.author }}</cite>
            </div>
        </div>
    {% endfor %}
</div>
{#<div class="controls" id="bullets">#}
{#    {% for quote in quotes %}#}
{#        <a href="#quote{{ forloop.counter }}">{{ forloop.counter }}</a>#}
{#    {% endfor %}#}
{#</div>#}
</body>

</html>
